/**
 * common/index.css
 *
 * What it Does:
 *   This is your global CSS file, this file will style every page and
 *   component in your application.
 *
 * Things to Change:
 *   If you want any CSS properties to persist through all of your app
 *   or if any element you import has to be styled globally, this is the
 *   file to use.
 */

/***
* Keyframes
**/
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes grow {
    from {
        -webkit-transform:scale(0);
    }
    to {
        -webkit-transform:scale(1.2);
    }
}
@-moz-keyframes grow {
    from {
        -moz-transform:scale(0);
    }
    to {
        -moz-transform:scale(1.2);
    }
}
@keyframes grow {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1.2);
    }
}

@keyframes glow {
  from {
    filter: box-shadow( 0 0 5px #fff) box-shadow( 0 0 15px #f49d02) box-shadow( 0 0 20px #f49d02);
  }

  to {
    
    filter: box-shadow( 0 0 20px #fff) box-shadow( 0 0 25px #f49d02) box-shadow( 0 0 40px #f49d02);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.is-flipped {
  transform: rotateX(180deg);
}

.animate-flip {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.answered-container div {
  padding: 10px;
}

.animate-marquee:hover {
  /*animation-play-state: paused*/
}

.answer-input.has-error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

/* trophy animation */
.confetti {
  -webkit-transform: translateZ(1px);
  -webkit-transform-style: preserve-3d;
}

.trophy-svg {
  width: 80px;
  height: 70px;
}

.circle {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 100%;
  margin: -90px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.message-header {
  margin-top: 20px;
}

.glow {
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}

.stars-container img {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 2s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 2s;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: grow;
  -moz-animation-duration: 2s;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  transition-property: -moz-transform;
  transition-duration: 2s;
  animation-name: grow;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bg-circle {
  height: 70px;
  width: calc(70px * 2);
  background: rgba(255, 255, 255, 0.25);
  border-bottom-left-radius: calc(70px * 2);
  border-bottom-right-radius: calc(70px * 2);
  margin: -55px auto 0;
  z-index: 2;
}

.bg-circle-2 {
  height: 85px;
  width: calc(85px * 2);
  background: rgba(255, 255, 255, 0.25);
  border-bottom-left-radius: calc(85px * 2);
  border-bottom-right-radius: calc(85px * 2);
  margin: -70px auto 0;
  z-index: 1;
}

/* Custom */
/* answer box placeholders */
span.content {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

span.content:focus {
  border: none;
  outline: none;
}

.answer-wrapper:focus,
.answer-wrapper:focus-within {
  -webkit-box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

span.content[placeholder]:empty:before {
  content: attr(placeholder);
  color: inherit;
  opacity: 50%;
  cursor: text;
}

/* Remove inner shadow from inputs on mobile iOS */
textarea, input {
  -webkit-appearance: none;
}

input, button:focus {
  border: none;
  outline: none;
}

.answered-container {
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 100%;
}

.answered-container:focus {
  border: none;
  outline: none;
}

input.answer-input {
  outline: none !important;
  border-radius: 5px;
}

input.answer-input::placeholder {
  color: inherit;
  opacity: 50%;
}

input.answer-input:focus::placeholder {
  color: inherit;
  opacity: 50%;
}

/**
* Loader
**/
span.loader {
    padding: 0 35px;
}
span.loader svg {
    animation: spin-animation 1s infinite;
}

.header {
  margin-top: 50%;
}

/* Edit Modal - title */
.edit-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    font-family: "Poppins";
    z-index: 2;
}
.edit-modal-container .text-fit {
    color: white;
    white-space: pre;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: inherit;
}
.edit-modal-container .text-fit > div {
    padding: 55px;
    overflow: initial;
    word-break: initial;
}
.edit-modal-container .done-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.edit-modal-container .done-button > span {
    background-color: white;
    color: #000;
    padding: 10px 50px;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 800;
}
#content-editable {
    white-space: pre;
    color: white;
    display: inline-flex;
    /* flex-direction: column; */
    align-items: center;
    word-break: inherit;
    line-height: 1.2
}
#content-editable:focus {
    outline: none;
}
#content-editable[placeholder]:empty:before {
    content: attr(placeholder);
    color: white;
    cursor: text;
    opacity: .5;
    text-align: center;
    /* font-size: 22px; */
    margin: auto;
}

/**
* Media Queries
**/
/* Small devices (landscape phones, 375px and up) */
@media (min-width: 375px) {
  body{
    -webkit-text-size-adjust: none;
  }

  .answers-container {
    flex: 1 0 auto !important;
  }

  /* when answer options go down to 4 or less */
  /* .less-than-four {
    height: 100px !important;
  } */

  /* when answer options is greater than to 4 */
  .greater-than-four {
    height: 200px !important;
  }

  .header {
    margin-top: 11vh !important;
  }

  .remix {
    margin-top: calc(11vh - 54px) !important;
  }

  .answer-input {
    margin-bottom: 30px !important;
  }

  span.header {
    margin-bottom: 7vh !important;
    text-transform: uppercase;
  }

  /* .app-container {
    height: 100%;
  } */
}

@media (max-width: 699px) {
  .marquee-container .header {
    margin-bottom: 20px !important;
    margin-top: 74px !important;
  }

  .marquee-container .remix {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .content-wrapper {
    margin-top: 20px !important;
  }
}

@media (max-width: 411px) {
  .marquee-container .header {
    margin-bottom: 10px !important;
    margin-top: 64px !important;
  }

  .marquee-container .remix {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .content-wrapper {
    margin-top: 10px !important;
  }
}

/* Medium devices (tablets, 700px and up) */
@media (min-width: 700px) {
  /* .app-container {
    height: 100vh !important;
  } */

  .content-wrapper {
    margin: 0 !important;
  }

  .list-container {
    height: 50vh !important;
  }

  .answers-container {
    flex: unset !important;
    height: 400px !important;
  }

  .answer-container {
    height: 96px !important;
  }

  .equal-to-two {
    max-height: 280px !important;
  }

  /* when answer options go down to 4 or less */
  .less-than-four {
    height: 240px !important;
  }

  /* when answer options is greater than to 4 */
  .greater-than-four {
    height: 355px !important;
  }

  .header {
    margin-top: 11vh !important;
    margin-bottom: 40px !important;
    font-size: 60px !important;
  }

  .remix {
    margin-top: calc(11vh - 54px) !important;
  }

  .answer-input {
    margin-bottom: 20px !important;
    font-size: 22px !important;
    height: 75px !important;
  }

  .submit-btn, .rank-btn, .play-again-btn {
    height: 75px !important;
    font-size: 25px !important;
  }

  .ranking-list {
    height: 70px !important;
  }

  .answer-message {
    font-size: 19px !important;
  }

  #content-editable[placeholder]:empty:before {
    font-size: 50px;
  }
}

@media (min-device-width: 1440px) {
  .marquee-container .header {
    margin-bottom: 30px !important;
    margin-top: 84px !important;
  }

  .marquee-container .remix {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  .content-wrapper {
    margin-top: 30px !important;
  }
}

@media (max-device-width: 1440px) and (min-device-width: 1366px) {

  .animate-marquee {
    font-size: 50px !important;
  }

  .marquee-container {
    height: unset !important;
  }

  .answers-container {
    height: 320px !important;
  }

  .answer-form,
  .answers-container {
    transform: scale(0.8) !important;
  }

  .answer-container {
    margin-bottom: 25px !important;
  }

  .success-message {
    margin: 0px !important
  }

  .greater-than-four {
    height: 320px !important;
  }

  .less-than-four {
    height: 210px !important;
  }

  .equal-to-two {
    max-height: 220px !important;
  }

  .app-container .rank-btn {
    height: 60px !important;
    font-size: 22px !important;
    width: 75%;
  }

  .app-container .play-again-btn {
    height: 60px !important;
    font-size: 22px !important;
    width: 48%;
  }

  .marquee-container .header {
    margin-bottom: 10px !important;
    margin-top: 64px !important;
  }

  .marquee-container .remix {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

@media (min-device-width: 1366px) and (max-device-width: 1380px) {
  .marquee-container {
    height: unset !important;
  }

  .form-container {
    height: 157px !important;
  }

  .greater-than-four {
    height: 310px !important;
  }

  .answers-container {
    height: 310px !important;
  }
}

@keyframes border-dance {
  0% {
      background-position: left top, right bottom, left bottom, right top;
  }
  100% {
      background-position: left 10px top, right 10px bottom, left bottom 10px, right top 10px;
  }
}